.img1-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 5rem 0;
    background-color: rgb(221, 236, 248);
    border-radius: 3rem;

}
.img-container {
    position: relative;
    min-width: 21rem;
    height: 21rem;
    border-radius: 10.5rem;
    overflow: hidden;
    display: inline-block;
    

}

.img1 {
    width: 20rem;
    height: 20rem;
    border-radius: 10.5rem;
    border: 0.5rem solid rgb(221, 236, 248);

}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(253, 217, 57, 0);
    z-index: 2; /* Устанавливаем большой z-index для перекрытия */
 
    transition: background-color 0.5s ease;
}

.img-container:hover .overlay {
    background-color: rgba(253, 217, 57, 0.3);
    z-index: 2;
    transition: 2s ease;
}

.img-container:hover .img1{
 
    border: 0.5rem solid rgb(253, 217, 57);
}

.hidden-button1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Начальное скрытие кнопки */
    transition: opacity 0.6s ease; /* Плавный переход для анимации */
    display: flex;
    padding: 0.6rem;
    border: none;
    background-color: white;
    color: rgb(253, 217, 57);
    border-radius: 1.5rem;
}

.hidden-button1:hover{
    color: white;
    background-color: rgb(253, 217, 57);;
    transition: 0.5s ease;
}

.img-container:hover .hidden-button1 {
    opacity: 1;
    z-index: 15;
    cursor: pointer;
}


.dog-text-cont{
    display: flex;
    justify-content: center;
}

.dog-text{
    text-wrap: wrap;
    padding: 2rem;
    text-align: center;
    
}

.svg-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    text-shadow: 0px -5px 10px rgba(0, 0, 0, 1);
  }

@media screen and (max-width: 900px) { /* Применение стилей для экранов шириной до 768px */
    .img1-cont {
      flex-direction: column;/* Установка максимальной ширины карточек на экранах шириной до 768px */
    }
  }

