body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  min-height: 100vh;
}
nav {
  background-color: #292929;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  text-transform: uppercase;
  padding: 10px 20px;
  position: relative;
}
nav ul li::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  width: 1px;
  background-color: #292929;
  z-index: 500;
}

nav ul li:hover::before {
  transition: transform 0.6s;
  background-color: rgb(253, 217, 57);
  transform: rotate(180deg);
}

nav ul li:hover {
  background-color: #292929;
}

nav ul li a {
  background-color: #292929;
  position: relative;
  color: white;
  text-decoration: none;
  z-index: 600;
  font-size: 1.1rem;
}

nav ul li.active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  width: 1px;
  background-color: rgb(253, 217, 57);
  z-index: 500;
}

nav ul li a:hover {
  background-color: #292929;
  color: rgb(253, 217, 57);
  transition: 0.3s ease;
}
