.slider {
  margin: 0 5rem;
}

.swiper {
  display: flex;
  height: 25rem;
  margin: 3rem 5rem 8rem;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  margin-bottom: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review {
  padding: 1rem 1rem 5rem;
  margin: 0;
  background-color: rgb(221, 236, 248);
  color: rgb(167, 167, 167);
}

.name {
  padding: 1rem 1rem 1rem;
  text-transform: uppercase;
}

.circle {
  border: 3px solid transparent;
  border-radius: 50%;
  display: block;
  height: 8rem !important;
  width: 8rem !important;
  margin: -40px auto 0;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide:hover .circle {
  border: 3px solid rgb(253, 217, 57);
  transition: 0.8s ease;
}
