.clicked-row {
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 236, 248);
  margin: 3rem 3rem 3rem 3rem;
  padding: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.4rem;
}
.expanded-container {
  display: none;
  background-color: rgb(118, 156, 187);
  border-left: 4px solid rgb(0, 149, 255);
  padding-left: 1rem;
  transform: 0.6s ease;
}

.base-toggle {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

#arrow-up {
  display: none;
}
